.experiencePage {
  width: 90%;
  margin-bottom: 8em;
  max-width: 1410px;
  min-width: 900px;

  .pageSubtitle {
    font-size: 12px;
    color: #45b0ad;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .pageHeader {
    width: 100%;
    margin: 10px auto 0;
    font-size: 60px;
  }

  .timeline {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    border-left-style: solid;
    border-width: 1.5px;

    .experienceCard {
      text-align: left;
      padding: 15px;
      border-color: white;
      border-bottom-style: solid;
      border-left-style: solid;
      border-width: 1.5px;
      align-self: start;
      min-width: 21em;

      .experienceHeader {
        .date {
          display: flex;
          margin-left: -2rem;

          .company {
            color: #73b1af;
            margin-left: 9rem;
            font-weight: 400;
            font-size: 16px;
            margin-top: 6px;
          }
        }

        .jobRole {
          .role {
            align-content: left;
            font-size: 20px;
            margin: 20px 0 10px -4px;
          }
        }
      }

      .description {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 8px;
      }

      .technologies {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 8px;
        place-content: center;

        .techChip {
          background-color: #2a6f6f;
          padding: 5px 10px;
          border-radius: 18px;
          font-size: 14px;
          color: #00ffff;
          font-weight: 600;
        }
      }
    }

    .experienceCard:nth-child(3) {
      border-bottom: none;
      margin-top: -2.2em;
    }

    .experienceCard:nth-child(4) {
      border-bottom: none;
    }

    .experienceCard:nth-child(odd) {
      border-left: none;
    }

    .experienceCard:nth-of-type(even) {
      top: 7em;
      position: relative;
    }
  }
}
